@import '../styles/variables.scss';
@import '../styles/components.scss';

.box {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	padding: 5px;

	margin: 1rem 0 $l-size 0;
	h1 {
		padding: 1rem 3px;
	}
	@media (min-width: 400px) {
		padding: 0 $s-size 0 $s-size;
	}
	@media (min-width: 640px) {
		padding: 0 $xl-size 0 $xl-size;
	}
	max-width: 900px;
}

.markdown {
	img {
		padding: 1px;
		border: 1px solid $suva-grey;
		border-radius: 3px;
	}
}

.topLinks {
	// margin-bottom: $s-size;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@media (min-width: 300px) {
		flex-direction: row;
	}
}

.projectHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: $m-size;
	padding-bottom: $s-size;
	@media (min-width: 600px) {
		align-items: center;
		flex-direction: row;
		padding-bottom: 0;
	}
	position: relative;
	$border: 2px;
	// background: none;
	border: solid $border transparent;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		height: $border;
		left: 0;
		z-index: -1;
		margin: -$border;
		// border-radius: inherit;
		background: $juicy;
	}
}

.more {
	display: flex;
	align-self: center;
}
