@import '../styles/variables.scss';

body.light-mode {
	background-color: #ffffff;
	transition: background-color .3s ease;
	p span {
		color: rgb(17, 17, 17);
	}
	h1 {
		color: $default-font-color;
		background-image: linear-gradient(to left, $energize 0%, $firebug 31%, $bittersweet 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: .3rem;
	}
	a {
		// color: $default-font-color;
	}
	a span {
		color: $default-font-color;
		&:hover {
			color: white;
		}
	}
	a:hover {
		color: $primary-btn-color;
	}
	strong a {
		color: $default-font-color;
	}
}

body.dark-mode {
	background-color: #1b1b1b;
	color: #dfdfdf;
	h1 {
		background-image: linear-gradient(to left, $firebug, $energize 30%, $bittersweet 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: .3rem;
	}

	p span {
		color: $default-font-color;
	}
	p {
		color: white;
	}
	a {
		// color: white;
	}
	a span {
		color: white;
		&:hover {
			color: $default-font-color;
		}
	}
	a:hover {
		color: $primary-btn-color;
	}

	li a {
		color: white;
	}
	strong a {
		color: $default-font-color;
	}
}
