@import '../styles/variables.scss';

body.light-mode {
	background-color: #ffffff;
	// background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

	// background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

	// background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
	// 	radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
	// background-blend-mode: screen;

	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	color: #333;
	transition: background-color .3s ease;
	p span {
		color: rgb(17, 17, 17);
	}
	h1 {
		color: #333;
		background-image: linear-gradient(to left, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: .3rem;
	}
	a span {
		color: #333;
		&:hover {
			color: white;
		}
	}
	a:hover {
		color: $primary-btn-color;
	}
}

body.dark-mode {
	background-color: #1b1b1b;

	background: linear-gradient(to bottom, #181818 0%, #202020 40%, #0a0a0a 150%),
		linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;

	// background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
	// 	radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
	// background-blend-mode: multiply, multiply;

	// background-image: linear-gradient(to right, #434343 0%, black 100%);
	color: #dfdfdf;

	h1 {
		color: $secondary-btn-color;
		// background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
		background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
		// background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: .3rem;
	}

	p span {
		color: #333;
	}

	a span {
		color: white;
		&:hover {
			color: #333;
		}
	}
	a:hover {
		color: $primary-btn-color;
	}
}
