// Font size
$s-font: 1.4rem;
$l-font: 1.8rem;

// Spacing and font-size
$u-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Responsive website
$desktop-breakpoint: 45rem;
$form-indentation: 110px;

// Colors

//NEUTRALS
$anti-flash-white: #eaf4f4;
$arsenic: #3c474b;
$charcoal: #484848;
$gainsboro: #dbdbdb;
$night-rider: #333333;
$solitude: #fafafb;
$suva-grey: #8e8e8e;

//bruised plum --------LIke
// $bittersweet: #b8235a;
// $firebug: #3d1635;
// $energize: #e7627d;

/// Grown Early
// $bittersweet: #0ba360;
// $firebug: #3cba92;
// $energize: #13ff7d;

///PURPLE RAIN -eeeeeeew
// $bittersweet: #7804fc;
// $firebug: #520df4;
// $energize: #c494fa;

/////////////////////////YOlK
// $bittersweet: #fceb04;
// $firebug: #f4dd0d;
// $energize: #faf894;

/// dusty mints
// $bittersweet: #024d47;
// $energize: #0e6079;
// $firebug: #34b48e;

///////////////////////FRESH MINT
// $bittersweet: #04f4fc;
// $firebug: #00ffb3;
// $energize: #0df4af;

///////////////////////// STRIPPER PINK
$bittersweet: #fc0404;
$firebug: #f40de1;
$energize: #ff5100;

/////////////////////// LIME GREEN
// $bittersweet: #a0f8b6;
// $firebug: #52dddd;
// $energize: #8df85b;

/////////////////////// OLD
// $bittersweet: #ff4800;
// $firebug: #ff0800;
// $energize: #f47d0d;

$default-font-color: $night-rider;
$secondary-font-color: $suva-grey;
$primary-btn-color: $bittersweet;
$secondary-btn-color: $firebug;

//Gradients
// $juicy: linear-gradient(35deg, $energize 0%, $bittersweet 30%);
$juicy: linear-gradient(35deg, $firebug, $energize 50%, $bittersweet 100%); //buttons
$sweet: linear-gradient(35deg, $bittersweet, $energize 60%, $firebug); //header
$falling: linear-gradient(75deg, $firebug, $energize 60%, $bittersweet 100%);

$headerGradient: $sweet;
$buttonGradient: $juicy;
