// Font size
$s-font: 1.4rem;
$l-font: 1.8rem;

// Spacing and font-size
$u-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Responsive website
$desktop-breakpoint: 45rem;
$form-indentation: 110px;

// Colors

//NEUTRALS
$anti-flash-white: #eaf4f4;
$arsenic: #3c474b;
$charcoal: #484848;
$gainsboro: #dbdbdb;
$night-rider: #333333;
$solitude: #fafafb;
$suva-grey: #8e8e8e;

// easter eggs - like but too light
// $bittersweet: #7df8bf;
// $firebug: #a6bafc;
// $energize: #f1fc62;

//rudy rydz
// $bittersweet: #803e01;
// $firebug: #fc8f46;
// $energize: #f87a03;

//bruised plum --------LIke
// $bittersweet: #b61039;
// $firebug: #66365c;
// $energize: #e7627d;

/// Grown Early - subtle green - like
// $bittersweet: #0ba360;
// $firebug: #3cba92;
// $energize: #13ff7d;

//purple rain
// $bittersweet: #7804fc;
// $firebug: #c494fa;
// $energize: #f40d94;

///////////////////////// hellow yellow -like
// $bittersweet: #fcad04;
// $firebug: #fdfb6a;
// $energize: #f4dd0d;

/// dark greenblue
// $bittersweet: #024d47;
// $energize: #0e6079;
// $firebug: #34b48e;

///////////////////////dusty blue -like
// $bittersweet: #037f83;
// $firebug: #00ffb3;
// $energize: #72d2f8;

///////////////////////// pink & orange -like
$bittersweet: #fc7c04;
$firebug: #fc01a8;
$energize: #ffc400;

/////////////////////// pistacio - like but too white
// $bittersweet: #8df85b;
// $firebug: #52dddd;
// $energize: #a0f8b6;

$default-font-color: $night-rider;
$secondary-font-color: $suva-grey;
$primary-btn-color: $bittersweet;
$secondary-btn-color: $firebug;
$third-btn-color: $energize;

//Gradients
// $juicy: linear-gradient(35deg, $energize 0%, $bittersweet 30%);
$juicy: linear-gradient(35deg, $firebug, $energize 50%, $bittersweet 100%); //buttons
$sweet: linear-gradient(35deg, $bittersweet, $energize 60%, $firebug); //header
$falling: linear-gradient(75deg, $firebug, $energize 60%, $bittersweet 100%);

$headerGradient: $sweet;
$buttonGradient: $juicy;
