@import '../styles/variables.scss';
@import '../styles/components.scss';

.box {
	padding: 1rem;

	margin: 1rem 0 $l-size 0;
	h1 {
	}
	position: relative;
	$border: 2px;
	border: solid $border transparent;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: $border;
		left: 0;
		z-index: -1;
		margin: -$border;
		background: $juicy;
	}
}
