@import '../styles/variables.scss';
@import '../styles/components.scss';

.form {
	display: flex;
	flex-direction: column;

	label {
		min-width: $form-indentation;
		padding: 0 1rem 0 0;
	}
	button {
		margin-right: 0;
		@media (min-width: $desktop-breakpoint) {
			margin-right: 1rem;
		}
	}
	a {
		display: inline-block;
		margin: 0;
		@media (min-width: $desktop-breakpoint) {
			margin-left: $form-indentation;
		}
	}
}
.errorMessage {
	color: $primary-btn-color;
	font-style: italic;
	margin: 0;
	font-size: $u-size;
	@media (min-width: $desktop-breakpoint) {
		margin-left: $form-indentation;
	}
}

.formEntry {
	display: flex;
	padding: 4px 0;
	justify-content: space-between;
	flex-grow: 1;
	font-size: 1rem;
	flex-direction: column;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
	}
}

.formInput {
	flex-grow: 2;
	font-family: sans-serif;
	font-size: 1rem;
	margin: 0;
	border-radius: 3px;
	outline: none;
	background-color: $solitude;
	border: 2px solid $gainsboro;
	padding: 6px 1rem;
}

.submitContainer {
	margin: $u-size 0 0 0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	@media (min-width: $desktop-breakpoint) {
		margin: 0 0 0 $form-indentation;
		flex-direction: row;
		align-items: center;
	}
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	// input[type='checkbox'],
	// input[type='radio'] {
	.styledCheckbox {
		--active: #f47d0d;
		--active-inner: #fff;
		--focus: 2px $bittersweet;
		--border: #bbc1e1;
		--border-hover: #f47d0d;
		--background: #fff;
		--disabled: #f6f8ff;
		--disabled-inner: #e1e6f9;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0 4px 0 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background .3s, border-color .3s, box-shadow .2s;
		&:after {
			content: '';
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
		}
		&:checked {
			--b: var(--active);
			--bc: var(--active);
			--d-o: .3s;
			--d-t: .6s;
			--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
		}
		&:disabled {
			--b: var(--disabled);
			cursor: not-allowed;
			opacity: .9;
			&:checked {
				--b: var(--disabled-inner);
				--bc: var(--border);
			}
			& + label {
				cursor: not-allowed;
			}
		}
		&:hover {
			&:not(:checked) {
				&:not(:disabled) {
					--bc: var(--border-hover);
				}
			}
		}
		&:focus {
			box-shadow: 0 0 0 var(--focus);
		}
		&:not(.switch) {
			width: 21px;
			&:after {
				opacity: var(--o, 0);
			}
			&:checked {
				--o: 1;
			}
		}
	}
	// input[type='checkbox'] {
	.styledCheckbox {
		&:not(.switch) {
			border-radius: 7px;
			&:after {
				width: 5px;
				height: 9px;
				border: 2px solid var(--active-inner);
				border-top: 0;
				border-left: 0;
				left: 7px;
				top: 4px;
				transform: rotate(var(--r, 20deg));
			}
			&:checked {
				--r: 43deg;
			}
		}
		// &.switch {
		// 	width: 38px;
		// 	border-radius: 11px;
		// 	&:after {
		// 		left: 2px;
		// 		top: 2px;
		// 		border-radius: 50%;
		// 		width: 15px;
		// 		height: 15px;
		// 		background: var(--ab, var(--border));
		// 		transform: translateX(var(--x, 0));
		// 	}
		// 	&:checked {
		// 		--ab: var(--active-inner);
		// 		--x: 17px;
		// 	}
		// 	&:disabled {
		// 		&:not(:checked) {
		// 			&:after {
		// 				opacity: .6;
		// 			}
		// 		}
		// 	}
		// }
	}
	// input[type='radio'] {
	// 	border-radius: 50%;
	// 	&:after {
	// 		width: 19px;
	// 		height: 19px;
	// 		border-radius: 50%;
	// 		background: var(--active-inner);
	// 		opacity: 0;
	// 		transform: scale(var(--s, .7));
	// 	}
	// 	&:checked {
	// 		--s: .5;
	// 	}
	// }
}
