@import '../styles/variables.scss';
@import '../styles/components.scss';

.form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	@media (min-width: 800px) {
		padding: $s-size;
	}
	label {
		min-width: $form-indentation;
		padding: 6px 1rem 6px 0;
		font-size: .8rem;
		text-transform: lowercase;
	}
	button {
		margin: 1rem 0;
	}
	a {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	small a {
		color: $primary-btn-color;
		&:hover {
			color: $secondary-font-color;
		}
	}
}
.errorMessage {
	color: $primary-btn-color;
	font-style: italic;
	margin: 0;
	font-size: $u-size;
	@media (min-width: $desktop-breakpoint) {
		margin-left: $form-indentation;
	}
}

.formEntry {
	display: flex;
	padding: 4px 0;
	justify-content: space-between;
	flex-grow: 1;
	font-size: 1rem;
	flex-direction: column;
	@media (min-width: $desktop-breakpoint) {
		flex-direction: row;
	}
}

.formInput {
	flex-grow: 2;
	font-size: .8rem;
	margin: 0;
	border-radius: 2px;
	outline: none;
	background-color: $solitude;
	border: 2px solid $gainsboro;
	padding: 6px 1rem;
}

.submitContainer {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	@media (min-width: $desktop-breakpoint) {
		margin-left: $form-indentation;
	}
}
