@import '../styles/variables.scss';
@import '../styles/components.scss';

.downloadSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $s-size;
	padding: 0;
	@media (min-width: 640px) {
		margin-bottom: $m-size;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	a {
		margin: 0 0 0 $s-size;
	}
	h2 {
		margin: 0;
	}
}

.cvHolder {
	position: relative;
	border: 1px solid $arsenic;
	padding: 1px;
	border-radius: 3px;
	opacity: 1;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	// transition: .3s ease;
	background-color: #dbdbdb98;
}

.overlayLinks {
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	a {
		display: block;
		margin: .5rem;
	}
}

.cvHolder:hover .overlay {
	opacity: 1;
}

.callToAction {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $l-size 0;
	a {
		margin: 0;
	}
}
