@import '../styles/variables.scss';

.toggleIcon {
	font-size: $m-size;
	margin: 0 .8rem 0 0;
	padding-bottom: .1rem;
}

.toggleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
