@import '../styles/variables.scss';

.footer-container {
	margin-top: 3rem;
	font-size: .7rem;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	align-items: center;
	a {
		color: $arsenic;
		text-decoration: none;
		font-weight: bold;
		margin: 0;
	}
	p {
		margin: 0;
		justify-self: center;
	}

	img {
		display: inline;
		// max-height: 30px;
		margin-left: 4px;
		margin-top: 6px;
		max-width: 80px;
		width: 100%;
	}
}

.hosting-container {
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		margin: 0;
	}
}
